{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href="{% url 'users:users_index' %}">
                    {% if user.is_staff %}Users{% else %}Your wolf pack{% endif %}
                </a> / {{ object.username }}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% for game in games %}
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img class="mr-3" width="75" src="{{ game.cover.url }}" alt="game cover">
                            <div class="media-body">
                                <h5 class="mt-0">{{ game.name }}</h5>
                                <p>Played {{ game.times_played }} times with {{ game.total_score }} score total</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in game.sessions %}
                            <tr>
                                <td>{{ session.date }}</td>
                                <td>{{ session.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th>Last 5 games played</th>
                    <th>Summary score</th>
                    <th>Day played</th>
                    <th>Frequency</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        {{ object.id }}
                    </th>
                    <td>
                        {{ object.username }}
                    </td>
                    <td>
                        {{ object.email }}
                    </td>
                    <td>
                        {% for game in last_five_games_played %}
                            <a href="{% url 'games:games_detail' game.pk %}">{{ game }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for game in last_five_games_played %}
                            <div>
                                {{ game.player_score }}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for day in sessions %}
                            {{ day.weekday }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for elem in frequency.items %}
                            {{ elem }}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}