{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href="{% url 'users:users_index' %}">{% if user.is_staff %}Users{% else %}Your wolf pack{% endif %}</a> / {{ object.username }}
                <a href="{% url 'users:friendship_requests_list' %}">| Friendship requests</a>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <canvas id="chart-area" height="300"></canvas>
            {{ games | json_script:"games" }}
            <script>
                const data = JSON.parse(
                    document.getElementById("games").textContent
                );

                window.initUserChart(data)
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% for game in games %}
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img class="mr-3" width="75" src="{{ game.cover }}" alt="game cover">
                            <div class="media-body">
                                <h5 class="mt-0">{{ game.name }}</h5>
                                <p>Played {{ game.times_played }} times with {{ game.total_score }} score total</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in game.sessions %}
                            <tr>
                                <td>{{ session.date }}</td>
                                <td>{{ session.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Last {{ object.username }}'s 5 games played</th>
                    <th>Summary score</th>
                    <th>RUSH DAY</th>
                    <th>Sessions frequency</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% for game in last_five_games_played %}
                            <p>
                                <a href="{% url 'games:games_detail' game.pk %}">{{ game }}</a>
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for game in last_five_games_played %}
                            <p>
                                {{ game.player_score }}
                            </p>
                        {% endfor %}
                    </td>
                    <td>
                        {% if most_active_day %}
                            {{ most_active_day }}
                        {% endif %}
                    </td>
                    <td>
                        {% for day, percentage in frequency.items %}
                            {{ day }}: {{ percentage }}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}