{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href={% url 'users:users_index' %}>Users</a> / {{ object.username }}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th>Last 5 games played</th>
                    <th>Day played</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        {{ object.id }}
                    </th>
                    <td>
                        {{ object.username }}
                    </td>
                    <td>
                        {{ object.email }}
                    </td>
                    <td>
                        {% for game in last_five_games_played %}
                            <a href={% url 'games:games_detail' game.pk %}>{{ game }}</a>
                        {% endfor %}
                    </td>

                    <td>
                        {% for day in weekdays_played %}
                            {{ day.weekday }}
                        {% endfor %}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}