{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {% bootstrap_messages %}

    <div class="row mb-3">
        <div class="col">
            <h4>
                {% if user.is_staff %}
                    <a href="{% url 'users:users_index' %}">Users</a>
                {% else  %}
                    <a href="{% url 'users:users_index' %}">You and your friends</a>
                {% endif %}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for player in users_list %}
                    <tr>
                        <th scope="row">{{ player.id }}</th>
                        <td>
                            {% if user.pk == player.pk %}
                            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                            {% else %}
                            {{ player.username }}
                            {% endif %}
                        </td>
                        {% if user.avatar %}
                            <td>
                                <img src="{{ user.avatar.url }}" class="card-img-top" alt="...">
                            </td>
                        {% else %}
                            <td>
                                <img src="https://source.unsplash.com/random/400x300" class="card-img-top" alt="...">
                            </td>
                        {% endif %}
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
