{% load static %}

<div class="row">
    <div class="col">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>

{{ serverData|json_script:"serverData" }}

<script src="{% static 'js/safe_chart_data_getter.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
        integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
        crossorigin="anonymous"></script>
<script src="{% static 'js/charts.js' %}"></script>