{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href={% url 'games:games_index' %}>Games</a> / {{ game.id }}
            </h4>
        </div>
    </div>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Game</th>
            <th scope="col">Players</th>
            <th scope="col">Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ game.id }}</th>
            <td>
                {{ game.name }}
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for player in users %}
                        <li>{{ session }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for item in scores.values %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
