{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href={% url 'games:games_index' %}>Games</a>
            </h4>
        </div>
    </div>

    <div class="card-columns">
        {% for game in games %}
            <div class="card">
                {% if game.cover_art and game.cover_art.url %}
                    <img src="{{ game.cover_art.url }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="https://source.unsplash.com/random/400x300" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href={% url 'games:games_detail' game.pk %}>{{ game.name }}</a></h5>
                    <p class="card-text"><small class="text-muted">Последний раз играл 3 часа назад</small></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Game</th>
                    <th scope="col">Sessions</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <th scope="row">{{ game.pk }}</th>
                        <td>
                            <a href={% url 'games:games_detail' game.pk %}>{{ game.name }}</a>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                {% for session in game.sessions.all %}
                                    <li>{{ session }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}