{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href={% url 'games:games_index' %}>Games</a>
            </h4>
        </div>
    </div>

    <form method="get">
		{% bootstrap_form filter.form %}
        {% if user.is_authenticated %}
            <div class="form-check">
                <label class="form-check" for="id_self_game_sessions">My game sessions</label>
                <input type="checkbox" name="self_game_sessions" id="id_self_game_sessions">
            </div>
        {% endif %}
        {% bootstrap_button "Показать" button_class="btn-success" %}
    </form><br>

    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Game</th>
                    <th scope="col">Sessions</th>
                    <th scope="col">Players</th>
                    <th scope="col">Scores</th>
                </tr>
                </thead>
                <tbody>
                {% for game_session in filter.qs %}
                    <tr>
                        <th scope="row">{{ game_session.game.pk }}</th>
                        <td>
                            <a href={% url 'games:games_detail' game_session.game.pk %}>{{ game_session.game.name }}</a>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                    <li>{{ game_session.created_at }}</li>
                            </ul>
                        </td>
                        <td>
                            {% for score in game_session.scores.all %}
                                {{ score.user }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for score in game_session.scores.all %}
                                {{ score.score }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}