{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h4>
                <a href={% url 'games:games_index' %}>Games</a> / {{ game.name }}
            </h4>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div><h5 class="card-title">Очки всех участников</h5></div>
                        <div>
                            <button type="button" class="btn btn-light">неделя</button>
                            <button type="button" class="btn btn-link">месяц</button>
                            <button type="button" class="btn btn-link">3 месяца</button>
                        </div>
                    </div>
                    <div>
                        {% comment %}
                        This is the element where chart is rendered. We select it in games_details_chart.js script by id
                        {% endcomment %}
                        <canvas id="gamesDetailsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        {% if game.cover_art and game.cover_art.url %}
            <img src="{{ game.cover_art.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="https://source.unsplash.com/random/400x300" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ game.name }}</h5>
        </div>
    </div>

    {% comment %}
    First put `server_data` in page body as a JSON script (for security reasons).
    Then put `safe_server_data_getter`, which will read `server_data` to Javascript runtime
    Then load chart, which use the `server_data` in Javascript context. Order of scripts matter - we first put the
    data on page and then script read it to memory, and then chart use it.
    {% endcomment %}
    {{ server_data | json_script:"server_data" }}
    <script src="{% static 'js/safe_server_data_getter.js' %}"></script>
    <script src="{% static 'js/games_details_chart.js' %}"></script>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Game</th>
            <th scope="col">Players</th>
            <th scope="col">Played games</th>
            <th scope="col">Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ game.id }}</th>
            <td>
                {{ game.name }}
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for user in played_games_by_players %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    {% for user in played_games_by_players %}
                        <li>{{ user.played_games_by_players }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for user in users %}
                        <li>{{ user.score }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
